.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border: none;
    border-radius: 20px;
    background: #320635;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #5e4454;
}

.calc__screen {
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 10px;
}

.calc__screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "clear plus__minus procent division"
    "seven eight nine mylti"
    "four five six minus"
    "one two three plus"
    "dot zero equal equal";
    grid-gap: 7px;
    justify-content: center;
}

.btn {
    width: 60px;
    height: 60px;
    background: #de78e7;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.equal {
    grid-area: equal;
    width: 100%;
    border-radius: 34px;
}

.btn:hover {
    filter: brightness(140%);
}

.btn:active {
    filter: brightness(90%);
}

.btn.color__1 {
    background: #d8a0cf;
}

.btn.color__2 {
    background: #af0aa7;
}













/* a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}

#container {
    width: 200px;
    padding: 8px 8px 20px 8px;
    margin: 20px auto;
    background-color: #98a2da;
    border-radius: 5px;
    border: none;
    box-shadow: -3px 3px 7px #323c68;
}

#display {
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 175px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: #f3f1ed;
    box-shadow: inset 0 0 10px #c5c3c1;
    font-size: 24px;
    color: #000;
    text-align: right;
    font-weight: 400;
}

.btn {
    display: inline-block;
    margin: 2px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.mathButton {
    margin: 2px 2px 6px 2px;
    color: #471a40;
    background-color: #eaa4ec;
}

.digits {
    color: #aa74a6;
    
}

.clearBotton, .dopBotton {
    color: #eaa4ec;
    background-color: #70546e;
}

.ravnButton {
    width: 90px;
    height: 40px;
    margin: 2px 2px 6px 2px;
    color: #471a40;
    background-color: #eaa4ec;
}

.text {
    color: #fff;
    font-size: 12px;
    margin-bottom: auto;
}

.text__btn {
    font-size: 12px;
    margin-bottom: auto;
    border: none;
    border-radius: 10px;
    background: #e473dc;
    box-shadow: 0 2px 0 #323c68;
    text-align: center;

}

.text__btn:hover {
    background: #f885f0;
    box-shadow: none;
    position: relative;
    top: 5px;
} */